body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    padding: 2rem 3rem 0 3rem;
    justify-content: flex-end;
    background: #E0E0E0;
}

.header--mobile {
    background: #E0E0E0;
    display: none;
}

.header--mobile__title {
    font-weight: 200;
    font-size: 1.5rem;
    align-self: center;
    margin-left: 24px;
}

#icon {
    margin: 16px;
    z-index: 15;
    width: 24px;
    height: 24px;
    right: 0;
}

.header__title {
    font-weight: 200;
    font-size: 2rem;
    text-align: center;

}

.header__item {
    padding: 8px 16px;
    text-align: center;
    width: 64px;
    text-decoration: none;
    color: black;
    align-self: center;
}

.header__item:hover {
    background: #BDBDBD;
    border-radius: 8px;
}

.filler {
    flex: 1 1 auto;
}

.sidenav {
    width: 100vw;
    height: 100vh;
    background: rgba(63, 81, 181, .99);
    opacity: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -200%;
    left: 0;
    z-index: 10;
}

.sidenav > div  {
    color: white;
    align-self: center;
    margin: 16px;
}

.sidenav__link {
    color: white;
    text-decoration: none;
    margin: 16px;
}

@media (max-width: 850px) {
    .header {
        display: none;
    }

    .header--mobile {
        display: flex;
        justify-content: flex-end;
    }
}