<link type="text/css" rel="stylesheet" href="/static/css/header.css">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/header.js"></script>
<div class="sidenav">
        <div>
            <a href="/" class="sidenav__link">About</a>
        </div>
        <div>
            <a href="/portfolio/" class="sidenav__link">Portfolio</a>
        </div>
        <div>
            <a href="/contact/" class="sidenav__link">Contact</a>
        </div>
</div>
<div class="header--mobile">
    <div class="header__title">{{ . }}</div>
    <img src="/static/assets/menu.png" id="icon">
</div>
<div class="header">
    <h1> {{ . }} </h1>
    <a class="header__item" href="/">About</a>
    <a class="header__item" href="/portfolio/">Portfolio</a>
    <a class="header__item" href="/contact/">Contact</a>
</div>